/*
    Daniel Fletcher
    The Odin Project: Foundations
    Rock Paper Scissors
*/


.choices {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
}